services:
  nest-app:
    build:
      context: ./
      dockerfile: ./Dockerfile
    depends_on:
      - mysql-container
      - redis-container
    ports:
      - '3000:3000'
    networks:
      - common-network
  mysql-container:
    image: mysql
    volumes:
      - E:\mysql-volumn:/var/lib/mysql
    environment:
      MYSQL_DATABASE: acl_test
      MYSQL_ROOT_PASSWORD: 123456
    networks:
      - common-network
  redis-container:
    image: redis
    volumes:
      - E:\redis-volumn:/data
    networks:
      - common-network
networks:
  common-network:
    driver: bridge